<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>KC</title>
    <link rel="stylesheet" href="./bootstrap532d/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/jquery.dataTables.min.css">

    <script src="./js/jquery-3.7.0.js"></script>
    <script src="./js/jquery.dataTables.min.js"></script>