        <%- include('./partials/header.ejs') %>
    </head>

    <body class="container" >
        <%- include('./partials/menu.ejs') %>
        
        <%- include('./partials/footer.ejs') %>
    </body>
</html>