.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.login-left {
    background-image: url("../images/logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
    opacity: 0.9;
    height: 500px;
    border-radius: 3px;
}